@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

body, 
.presentation{
    background-image: url('./media/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.presentation{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.presentation #arrow{
    font-size: 35px;
    top: 90%; right: 50%;
    transform: translate(50%,-50%);
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #0b7f2f;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 11px 0px black;
}

.presentation input:hover{
    cursor: pointer;
}




/* Animations */
.puff-out-hor {
	-webkit-animation: puff-out-hor 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-hor 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-out-hor {
        0% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(2);
                  transform: scaleX(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
      }
      @keyframes puff-out-hor {
        0% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(2);
                  transform: scaleX(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
      }
      